.quoteModal{
	//modal
	.modal-content{
		border-radius: 0;
		border: none;
		.modal-header{
			background-color: $theme-color;
			.modal-title{
				color: $white;
				font-weight: 400;
			}
			.close{
				margin-top: 3px;
			}
		}
		.modal-body{
			padding: 30px 15px;
		}
	}
	form{
		text-align: center;
		.form-group{
			position: relative;
			.form-control{
				padding: 15px;
				height: 40px;				
			    -webkit-box-shadow: none; 
			    box-shadow: none;
				&:focus{
				    outline: 0;
				    -webkit-box-shadow: none; 
				    box-shadow: none; 
				}
				@media only screen and (max-width: 425px){
					height: 40px;
				}
			}
			i{
				position: absolute;
				width: 50px;
				text-align: center;
			    right: 0;
			    top: 0;
			    font-size: 25px;
			    color: #8C8C8C;
			    padding: 20px 10px 0 0;
			    &.mobile-icon{
			    	font-size: 34px;
			    }
			    @media only screen and (max-width: 425px){
			    	font-size: 18px;
			    	padding: 10px 0px 0 0;
			    	&.mobile-icon{
				    	font-size: 24px;
				    }
			    }
			}
			textarea.form-control{
				height: 120px;
				resize: vertical;
				@media only screen and (max-width: 425px){
					height: 80px;
				}
			}
			@media only screen and (max-width: 425px){
				margin-bottom: 10px;
			}
		}
		button[type='submit']{
			max-width: 220px;
			width: 100%;
			margin: 0 auto;
			&i{
				margin-left: 10px;
			}
			@media only screen and (max-width: 425px){
				max-width: inherit;
			}
		}
	}
}